recursive-include doc/html *
prune doc/html/.doctrees/
exclude doc/html/.buildinfo
include LICENSE.txt

recursive-include conf *
recursive-include db *
recursive-include resourcesync_push/hub/templates *
